@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
  --tf-color1: #43291f;
  --tf-color2: #d5bdaf;
  --tf-color3: #f5ebe0;
  --tf-color4: #d5bdaf;
  --bs-font-sans-serif: "Nunito", sans-serif;
  --bs-link-color: var(--tf-color1);
  --tf-pill-bg: var(--tf-color2);
  --tf-icon-fill: var(--tf-color1);
  --tf-icon-hover: var(--tf-color2);
  --tf-page-bg-color: var(--tf-color3);
  --tf-footer-bg-color: var(--tf-color4);
  --tf-projects-bg-color: var(--tf-color4);
  
}
h1 {
  font-family: "Nunito", "Rubik", sans-serif;
  font-size: 50px;
}

h2 {
  font-family: "Nunito", "Rubik", sans-serif;
}
p {
  font-family: "Nunito", "Rubik", sans-serif;
}

body {
  background-color: #f5ebe0;
  display: flex;
  align-items: center; 
  height: 100%;
}
