@import url("https://fonts.googleapis.com/css?family=Space Mono");

:root {
  --tf-color1: #313e50;
  --tf-color2: #313e50;
  --tf-color3: #7c91a2;
  --tf-color4: #e6eaf0;
  --bs-font-sans-serif: "Space Mono", "Rubik", sans-serif;
  --bs-link-color: var(--tf-color1);
  --tf-pill-bg: var(--tf-color3);
  --tf-icon-fill: var(--tf-color1);
  --tf-icon-hover: var(--tf-color3);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-color4);
  --tf-projects-bg-color: var(--tf-color4);
  
}
h1 {
  font-family: "Space Mono", "Rubik", sans-serif;
}

h2 {
  font-family: "Space Mono", "Rubik", sans-serif;
}
p {
  font-family: "Space Mono", "Rubik", sans-serif;
}
