@import url("https://fonts.googleapis.com/css?family=Gil Sans");

:root {
  --tf-color1: #43291f;
  --tf-color2: #d5bdaf;
  --tf-color3: #f5ebe0;
  --tf-color4: #d5bdaf;
  --bs-font-sans-serif: "Gil Sans", "Rubik", sans-serif;
  --bs-link-color: var(--tf-color1);
  --tf-pill-bg: var(--tf-color2);
  --tf-icon-fill: var(--tf-color1);
  --tf-icon-hover: var(--tf-color2);
  --tf-page-bg-color: var(--tf-color3);
  --tf-footer-bg-color: var(--tf-color4);
  --tf-projects-bg-color: var(--tf-color4);
  
}
h1 {
  font-family: "Gil Sans", "Rubik", sans-serif;
  font-size: 20px;
}

h2 {
  font-family: "Gil Sans", "Rubik", sans-serif;
}
p {
  font-family: "Gil Sans", "Rubik", sans-serif;
}

body {
  padding: 50px;
}
