body {
  background-color: #f6f6f6;
  color: #000;
  font-family: "Inter", sans-serif;
}

.react-calendar {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.meeting-day {
  background-color: #e06d5c !important; /* coral */
  color: white !important;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background: #5c65e0 !important;
  color: #fff !important;
  border-radius: 50%;
}
.react-calendar__tile--now {
  background: #eaeaea !important;   
  color: #000 !important;          
  border-radius: 50%;               
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}

.btn-coral {
  background-color: #e06d5c;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  transition: 0.2s ease;
}

.btn-coral:hover {
  background-color: #01338b;
}

.hover-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.12);
}

